@import 'tailwindcss';

/* kolory
#31255a	(49,37,90)
#8fe0ff	(143,224,255)
#75b4e3	(117,180,227)
#54416d	(84,65,109)
#2b235a	(43,35,90)
*/

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #8fe0ff;
  --color-text: black;
  --color-navBackground: #75b4e3;
}

.dark {
  --color-background: #2b235a;
  --color-text: white;
  --color-navBackground: #54416d;
}

body {
  margin: 0;
  background-size: cover;
  background-color: var(--color-background);
  color: var(--color-text);
  /* align-items: center;
  flex-direction: column; */
}

.page {
  text-align: center;
}

button,
input {
  margin: calc(var(--spacing) * 3);
  padding: calc(var(--spacing) * 2);
  border-radius: var(--radius-sm);
  color: var(--color-text);
  font-size: var(--text-xl); /* 1.25rem (20px) */
  line-height: var(--text-xl--line-height); /* calc(1.75 / 1.25) */
}
button {
  cursor: pointer;
}
.inputBtn,
input {
  border: solid var(--color-text) 2px;
  background-color: var(--color-navBackground);
}

.navBtn:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
nav {
  background-color: var(--color-navBackground);
  font-weight: 600;
  text-underline-offset: 6px;
  font-size: var(--text-xl); /* 1.25rem (20px) */
  line-height: var(--text-xl--line-height); /* calc(1.75 / 1.25) */
  margin-bottom: calc(var(--spacing) * 10);
}

h1 {
  font-size: var(--text-3xl); /* 1.875rem (30px) */
  line-height: var(--text-3xl--line-height); /* calc(2.25 / 1.875) */
}
